body{
    background-color: #ffc75f;
}

header{
    font-size: 30px;
}

main, header, section{
    margin: 0;
    padding: 20px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

header{
    background: #ffc75f;
    text-align: center;
}

.temperature{
    flex: 1;
    text-align: center;
    font-size: 45px;
    padding-top: 8%;
}

.image{
    flex: 0 1 300px;
    align-items: center;
}

.city{
    background: #1c6873;
    text-align: center;
}

.credits{
    background:#ffc75f;
    text-align: center;
}

.flex-container{
    display: flex;
    background: #1c6873;

}

.footer{
    background: #ffc75f;
    color: black;
    text-align: center;
    bottom: 0;
    height: 20px;
    font-size: 70%;
}

/* Media Queries */
@media screen and (max-width: 600px){
    header{
        font-size: 20px;
    }

    .temperature{
        flex: 1;
        text-align: center;
        font-size: 25px;
        padding-top: 25%;
    }
    
    .image{
        flex: 0 1 150px;
        align-items: center;
    }
}
